
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="../stylesheets/admin.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/progressbar.css" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="../javascripts/charts.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            var data = [];
            <%doanhthuthang.forEach(function (a) { %>
            data.push({thang:'<%= a.thang%>',nam:'<%= a.yyyy%>',doanhthu:'<%= a.doanhthu%>'});

            <% })%>
            ordersSplineChart = InitLineChart(data);
            ordersSplineChart.render();


            var label = [];
            var data = [];
            <%topsanpham.forEach(function (a) { %>
                label.push('<%= a.tensp%>');
                data.push(<%= a.daban%>);
           <% })%>
            barchart = InitBarChart(label,data);
            barchart.render();
        });

    </script>

</head>
<body>

<% include partial/sidebar.ejs%>

<div class="container "  id="main">

    <div class="row">
        <!--navigation bar-->
        <% include partial/navbar.ejs%>

        <!--CONTENT HERE-->
        <div class="row content" id="content">
            <div class="col-lg-4">
                <div class="card drop-shadow dashboard_card" style="height: 300px;">
                    <h4 class="card-header">Doanh thu tháng <%= current %></h4>

                    <p class="card-detail"><%= tongdoanhthu%></p>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card drop-shadow dashboard_card" style="height: 300px;">
                    <h4 class="card-header">Đơn hàng gần nhất</h4>

                    <table class="table table-hover" id="topdonhang">
                        <tr>
                            <td >Mã Hóa đơn</td>
                            <td>Ngày tháng</td>
                            <td >Số món</td>
                            <td >Tổng tiền</td>
                        </tr>

                        <%if(topdonhang != undefined){%>
                        <% topdonhang.forEach(function (d) { %>
                        <tr id="<%= d.madh%>">
                            <td ><%= d.madh%></td>
                            <td><%= d.ngaythang%></td>
                            <td><%= d.somon%></td>
                            <td><%= d.tongtien%></td>

                        </tr>
                        <%})};%>


                    </table>
                </div>
            </div>


        </div>

        <div class="row content" id="content">

            <div class="col-lg-6">

                    <div class="card drop-shadow">
                        <h4 class="card-header">Top sản phẩm bán chạy</h4>
                        <div class="card-block">
                            <div id="barchart" style="height: 300px; width: 100%;"></div>
                        </div>

                    </div>

            </div>
            <div class="col-lg-6">
                <div class="card drop-shadow">
                    <h4 class="card-header">Orders</h4>
                    <div class="card-block">
                        <div id="orders-spline-chart" style="height: 300px; width:  100%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content">




        </div>

        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50" style="margin-top: 200px">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>

    </div>
</div>
</div>
<script>
    $(document).ready(function () {

        $('#content').hide().delay(0).fadeIn(0);
        $('.loader').delay( 0 ).slideUp(0);

    });
    $("#topdonhang tr").click(function (e) {

        e.preventDefault();
        var id = $(this).attr("id");
        document.location.href = "/admin/donhang/"+id;

    });

</script>
</body>

</html>