<%
var sanpham_arr = tablesp;

console.log(sanpham_arr);

    var datasearch = mysearch;
    var current = currentpage;
    var prev = currentpage--;
    var next = currentpage++;
    var loaisp_arr = tableloaisp;
    console.log(loaisp_arr);
    if(sanpham_arr.length < 10)
    {
        next = currentpage;
    }
    if(prev < 0)
    {
        prev = currentpage;
    }
%>
<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="boostrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="../stylesheets/admin.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/progressbar.css" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>

<!--sidebar-->
<% include partial/sidebar.ejs%>

<div class="container " id="main">
    <div class="row">
        <!--navigation bar-->
        <% include partial/navbar.ejs%>
        <!--CONTENT HERE-->
        <div class="row content" id="content">
            <button id="btn_addnew" data-toggle="modal" data-target="#modalAddSP">Thêm SP</button>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th hidden>Mã SP</th>
                    <th>Tên SP</th>
                    <th>Gía</th>
                    <th>Số Lượng</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <%sanpham_arr.forEach(function (sp) { %>

                <tr id="tr<%= sp.masp%>">
                    <td class="masp" hidden><%=sp.masp%></td>
                    <td class="tensp"><%= sp.tensp%></td>
                    <td class="gia"><%= sp.gia%></td>
                    <td class="maloai" hidden><%= sp.maloai%></td>
                    <td class="soluong"><%= sp.tonkho%></td>
                    <td class="maincam" hidden><%= sp.maincam%></td>
                    <td class ="gps" hidden><%= sp.gps%></td>
                    <td class ="wifi" hidden><%= sp.wifi%></td>
                    <td class ="bluetooth" hidden><%= sp.bluetooth%></td>
                    <td class ="bonho" hidden><%= sp.bonho%></td>
                    <td class="sim" hidden><%= sp.sim %> </td>
                    <td class ="gpu" hidden><%= sp.gpu%></td>
                    <td class ="dophangiai" hidden><%= sp.dophangiai%></td>
                    <td class ="subcam" hidden><%= sp.subcam%></td>
                    <td class ="trongluong" hidden><%= sp.trongluong%></td>
                    <td class ="thenho" hidden><%= sp.thenho%></td>
                    <td class ="hdh" hidden><%= sp.hdh%></td>
                    <td class ="cpu" hidden><%= sp.cpu%></td>
                    <td class ="thoigiancho" hidden><%= sp.thoigiancho%></td>
                    <td class ="kichthuoc" hidden><%= sp.kichthuoc%></td>
                    <td class ="ram" hidden><%= sp.ram%></td>
                    <td class ="thoigianthoai" hidden><%= sp.thoigianthoai%></td>
                    <td class ="cambien" hidden><%= sp.cambien%></td>
                    <td class="img01" hidden><%= sp.images[0]%></td>
                    <td class="img02" hidden><%= sp.images[1]%></td>
                    <td class="img03" hidden><%= sp.images[2]%></td>
                    <td class="img04" hidden><%= sp.images[3]%></td>
                    <td class="img05" hidden><%= sp.images[4]%></td>



                    <td>
                        <button id="<%= sp.masp%>" class="btn_sua" type="button" data-toggle="modal" data-target="#myModal">Sửa
                        </button>
                    </td>
                    <td>
                        <button class="btn_xoa" type="button" data-toggle="modal"  data-id ="<%= sp.masp%>" data-target="#confirm">Xóa</button>
                    </td>
                </tr>


                <%}); %>



                </tbody>
            </table>
        </div>

        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50" style="margin-top: 200px">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
     <!--   <div class="footer">
            <div class="container">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="1">Previous</a></li>

                        <li class="page-item"><a class="page-link" href="?page=1&q=iphone">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>-->
        <%include partial/pagi.ejs%>


        <!-- Modal Sửa -->
        <div class="modal modal-with-tab fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <form  enctype="multipart/form-data" method="post" action="/admin/sp/sua">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel with-nav-tabs panel-info">
                                    <div class="panel-heading">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#sua1info" data-toggle="tab">Thông tin</a></li>
                                            <li><a href="#sua2info" data-toggle="tab">Thông số</a></li>
                                            <li><a href="#sua3info" data-toggle="tab">Hình ảnh</a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="sua1info">
                                                <table class="table table-hover">
                                                    <tr>
                                                        <td hidden>Mã SP</td>
                                                        <td hidden><input name="masp" type="text" ></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Tên SP</td>
                                                        <td><input name="tensp" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gía</td>
                                                        <td><input name="gia" type="number"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tồn kho</td>
                                                        <td><input name="soluong" type="number"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Loại SP</td>
                                                        <td>

                                                            <select name="loaisp" required >
                                                                <%loaisp_arr.forEach(function (s) {%>
                                                                <option value="<%=s.mahsx%>"><%= s.tenhxs%></option>
                                                                <% })%>
                                                            </select>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="sua2info">
                                                <table class="table table-hover">
                                                    <tr class="trtitle">
                                                        <td>Kết nối</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Loại sim</td>
                                                        <td><input name="sim" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>GPS</td>
                                                        <td><input name="gps" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Wi-Fi</td>
                                                        <td><input name="wifi" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bluetooth</td>
                                                        <td><input name="bluetooth" type="text"></td>
                                                    </tr>
                                                    <tr class="trtitle">
                                                        <td>Cấu hình</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bộ nhớ</td>
                                                        <td><input name="bonho" type="text"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Hệ điều hành</td>
                                                        <td><input name="hdh" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thẻ nhớ</td>
                                                        <td><input name="thenho" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>CPU</td>
                                                        <td><input name="cpu" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>GPU</td>
                                                        <td><input name="gpu" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ram</td>
                                                        <td><input name="ram" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cảm biến</td>
                                                        <td><input name="cambien" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trọng lượng</td>
                                                        <td><input name="trongluong" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thời gian chờ</td>
                                                        <td><input name="thoigiancho" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thời gian thoại</td>
                                                        <td><input name="thoigianthoai" type="text"></td>
                                                    </tr>
                                                    <tr class="trtitle">
                                                        <td>Màn hình</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kích thước(dài x ngang x dày)</td>
                                                        <td><input name="kichthuoc" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Độ phân giải</td>
                                                        <td><input name="dophangiai" type="text"></td>
                                                    </tr>
                                                    <tr class="trtitle">
                                                        <td>Camera</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Camera chính</td>
                                                        <td><input name="maincam" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Camera phụ</td>
                                                        <td><input name="subcam" type="text"></td>
                                                    </tr>

                                                </table>
                                            </div>

                                            <div class="tab-pane fade" id="sua3info">
                                                <% include partial/viewimg.ejs%>

                                                <script src="../javascripts/updateimg.js"></script>
                                                <input type="text" name="updateimg[0]" value='""'>
                                                <input type="text" name="updateimg[1]"  value='""'>
                                                <input type="text" name="updateimg[2]"  value='""'>
                                                <input type="text" name="updateimg[3]"  value='""'>
                                                <input type="text" name="updateimg[4]"  value='""'>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-default">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                    </div>
                </div>
                </form>

            </div>
        </div>
        <!--close modal sửa-->

        <!-- Modal Thêm sản phẩm--->
        <!-- Modal with tab -->
        <div class="modal modal-with-tab fade" id="modalAddSP" role="dialog">
            <div class="modal-dialog">
                <form  enctype="multipart/form-data" method="post" action="/admin/sp/add">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">


                            <div class="col-md-12">
                                <div class="panel with-nav-tabs panel-info">
                                    <div class="panel-heading">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab1info" data-toggle="tab">Thông tin</a></li>
                                            <li><a href="#tab2info" data-toggle="tab">Thông số</a></li>
                                            <li><a href="#tab3info" data-toggle="tab">Hình ảnh</a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab1info">
                                                <table class="table table-hover">
                                                    <tr>
                                                        <td hidden>Mã SP</td>
                                                        <td hidden><input name="masp" type="text"></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Tên SP</td>
                                                        <td><input name="tensp" type="text" required="required"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gía</td>
                                                        <td><input name="gia"  value="0" type="number" required="required"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tồn kho</td>
                                                        <td><input name="sl"  value="0" type="number" required="required" ></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Loại SP</td>
                                                        <td>

                                                            <select name="loaisp" required >
                                                                <option value="0">--Chọn--</option>
                                                                <%loaisp_arr.forEach(function (s) {%>
                                                                <option value="<%=s.mahxs%>"><%= s.tenhxs%></option>
                                                                <% })%>
                                                            </select>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="tab2info">
                                                <table class="table table-hover">
                                                    <tr class="trtitle">
                                                        <td>Kết nối</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Loại sim</td>
                                                        <td><input name="sim" id="sim" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>GPS</td>
                                                        <td><input name="gps" id="gps" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Wi-Fi</td>
                                                        <td><input name="wifi" id="wifi" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bluetooth</td>
                                                        <td><input name="bluetooth" id="bluetooth" type="text"></td>
                                                    </tr>
                                                    <tr class="trtitle">
                                                        <td>Cấu hình</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>bộ nhớ</td>
                                                        <td><input name="bonho" id="bonho" type="text"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Hệ điều hành</td>
                                                        <td><input name="hdh" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thẻ nhớ</td>
                                                        <td><input name="thenho" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>CPU</td>
                                                        <td><input name="cpu" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>GPU</td>
                                                        <td><input name="gpu" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ram</td>
                                                        <td><input name="ram" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cảm biến</td>
                                                        <td><input name="cambien" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trọng lượng</td>
                                                        <td><input name="trongluong" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thời gian chờ</td>
                                                        <td><input name="thoigiancho" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thời gian thoại</td>
                                                        <td><input name="thoigianthoai" type="text"></td>
                                                    </tr>
                                                    <tr class="trtitle">
                                                        <td>Màn hình</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kích thước(dài x ngang x dày)</td>
                                                        <td><input name="kichthuoc" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Độ phân giải</td>
                                                        <td><input name="dophangiai" type="text"></td>
                                                    </tr>
                                                    <tr class="trtitle">
                                                        <td>Camera</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Camera chính</td>
                                                        <td><input name="maincam" type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Camera phụ</td>
                                                        <td><input name="subcam" type="text"></td>
                                                    </tr>

                                                </table>
                                            </div>

                                            <div class="tab-pane fade" id="tab3info">
                                                <% include partial/chooseimg.ejs%>

                                                <script src="../javascripts/previewimg.js"></script>
                                                <input type="text" name="img[0]" value='""'>
                                                <input type="text" name="img[1]"  value='""'>
                                                <input type="text" name="img[2]"  value='""'>
                                                <input type="text" name="img[3]"  value='""'>
                                                <input type="text" name="img[4]"  value='""'>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-default">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
                </form>

            </div>
        </div>
        <!-- close tab modal-->

        <!--modal cofirm-->
        <div class="modal fade" id="confirm" role="dialog">

            <div class="modal-dialog modal-sm modal-confirm">
                <form method="post" action="sp/del">

                    <div class="modal-content">
                        <p style="font-size: 20px; background: indianred">Bạn có chắc chắn ?</p>

                        <button type="submit" class="btn btn-default" value="yes">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </form>

            </div>

        </div>
        <!---end modal confirm-->

    </div>
</div>

</div>

</div>

<script>
    var images = [];



    $(document).ready(function () {
/*

        $('#content').hide().delay(2000).fadeIn(300);
        $('.loader').delay(2000).slideUp(300);
*/

        $('#content').hide().delay(1).fadeIn(1);
        $('.loader').delay(1).slideUp(1);


    });

    $(".btn_sua").on("click", function () {
        id = $(this).attr('id');

        console.log(id);
        var masp = $("#tr"+id+">.masp").text();
        var sim = $("#tr" + id+ ">.sim").text();
        console.log(sim);
        $("input[name='masp']").val($("#tr"+id+">.masp").text());
        $("input[name='tensp']").val($("#tr"+id+">.tensp").text());
        $("input[name='gia']").val($("#tr"+id+">.gia").text());
        $("input[name='soluong']").val($("#tr"+id+">.soluong").text());
        $("input[name='maincam']").val($("#tr"+id+">.maincam").text());
        $("input[name='gps']").val($("#tr"+id+">.gps").text());
        $("input[name='wifi']").val($("#tr"+id+"> .wifi").text());
        $("input[name='bluetooth']").val($("#tr"+id+">.bluetooth").text());
        $("input[name='bonho']").val($("#tr"+id+">.bonho").text());
        $("input[name='sim']").val($("#tr"+id+">.sim").text());
        $("input[name='gpu']").val($("#tr"+id+">.gpu").text());
        $("input[name='dophangiai']").val($("#tr"+id+">.dophangiai").text());
        $("input[name='subcam']").val($("#tr"+id+">.subcam").text());
        $("input[name='trongluong']").val($("#tr"+id+">.trongluong").text());
        $("input[name='thenho']").val($("#tr"+id+">.thenho").text());
        $("input[name='hdh']").val($("#tr"+id+">.hdh").text());
        $("input[name='cpu']").val($("#tr"+id+">.cpu").text());
        $("input[name='thoigiancho']").val($("#tr"+id+">.thoigiancho").text());
        $("input[name='kichthuoc']").val($("#tr"+id+">.kichthuoc").text());
        $("input[name='ram']").val($("#tr"+id+">.ram").text());
        $("input[name='thoigianthoai']").val($("#tr"+id+">.thoigianthoai").text());
        $("input[name='cambien']").val($("#tr"+id+">.cambien").text());

        var loaisp = $("#tr"+id+">.maloai").text();

        $("select[name='loaisp'] option[value='"+loaisp+"']").attr("selected",true);

        var src1 = $("#tr"+id+">.img01").text() ? "../uploads/" + $("#tr"+id+">.img01").text() : "";
        var src2 =$("#tr"+id+">.img02").text() ? "../uploads/" + $("#tr"+id+">.img02").text() : "";
        var src3 = $("#tr"+id+">.img03").text() ? "../uploads/" + $("#tr"+id+">.img03").text() : "";
        var src4 = $("#tr"+id+">.img04").text() ? "../uploads/" + $("#tr"+id+">.img04").text() : "";
        var src5 = $("#tr"+id+">.img05").text() ? "../uploads/" + $("#tr"+id+">.img05").text() : "";
        if(src1 != "") {
            $(".updateimg #ImgPreview").attr("src", src1);
            $('.updateimg  .btn-rmv1').addClass('rmv');
            $("input[name='updateimg[0]']").val($("#tr"+id+">.img01").text());
        }
        if(src2 != "") {
            $(".updateimg #ImgPreview2").attr("src", src2);
            $('.updateimg  .btn-rmv2').addClass('rmv');
            $("input[name='updateimg[1]']").val($("#tr"+id+">.img02").text());
        }
        if(src3 != "") {
            $(".updateimg #ImgPreview3").attr("src", src3);
            $('.updateimg  .btn-rmv3').addClass('rmv');
            $("input[name='updateimg[2]']").val($("#tr"+id+">.img03").text());
        }
        if(src4 != "") {
            $(".updateimg #ImgPreview4").attr("src", src4);
            $('.updateimg  .btn-rmv4').addClass('rmv');
            $("input[name='updateimg[3]']").val($("#tr"+id+">.img04").text());
        }
        if(src5 != "") {
            $(".updateimg #ImgPreview5").attr("src", src5);
            $('.updateimg  .btn-rmv5').addClass('rmv');
            $("input[name='updateimg[4]']").val($("#tr"+id+">.img05").text());
        }



    });

    function OnDataChange() {

        return false;
    }
    function onAddNewSP() {
        $(".modal").modal('hide');
        return false;

    }


    function previewFile(img_pos) {
        // Where you will display your image
        console.log(img_pos);

        // The button where the user chooses the local image to display
        /*  var file = document.querySelector('input[type=file]').files[0];*/
        if (img_pos == 'them')
            var file = $("input[name='them']").prop('files')[0];
        else if (img_pos == 'sua')
            var file = $("input[name='sua']").prop('files')[0];

        // FileReader instance
        var reader = new FileReader();

       var filename = file.name;
        // When the image is loaded we will set it as source of
        // our img tag
        reader.onloadend = function () {


            /*    if(img_pos == 'sua')
             var preview = $("#sua_img");
             else if(img_pos == 'them')
             var preview = $("#them_img");
             preview.attr("src",reader.result);*/
            var count = $(".imgholder > div").length;

            var index = count;



            if (img_pos == 'them') {
                $("#img_arr_them").append('<div style="position: relative"> <input type="image" class="del"  src="images/icon/closeIcon.png" style=" z-index: 99;position: absolute; top: 4px; left: 5px"/>'+
                '<img class="preview_img"  src="'+reader.result+'"/> ' +
                        '<input type="hidden" name="img['+index+']" value="'+filename+'"></div>');



                $(".del").on('click',function () {
                    console.log( $(this).siblings("img.preview_img").text());
                    $(this).siblings("img.preview_img").remove();
                    $(this).remove();
                });
            }
            else if (img_pos == 'sua') {

                $("#img_arr_sua").append('<div  style="position: relative"> <input    type="image" class="del"  src="images/icon/closeIcon.png" style="  z-index: 99;position: absolute; top: 4px; left: 5px"/>' +
                        '<img  class="preview_img"  src="'+reader.result+'" /> ' +
                        '<input type="hidden" name="img['+index+']" value="'+filename+'"></div>');

                $(".del").on('click',function () {
                    console.log( $(this).siblings("img.preview_img").text());
                    $(this).siblings("img.preview_img").remove();
                    $(this).remove();
                });

            }

        }


        if (file) {
            // Load image as a base64 encoded URI

            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }


    }


    $(document).ready(function () {
        $(".btn_xoa").on("click",function(e){

            e.preventDefault();
            var id = $(this).attr("data-id");
            $("#confirm  .modal-content").append("<input name ='delid' value='"+id+"' hidden> </input>");
            $("#confirm").show();

        });
    });

    //for update img


    //for insert img
    //for add img




</script>
</body>
</html>