<%
var has_email = false;
if(session.makh != undefined)
    has_email = true;
%>

<div class ='col-xs-3 product <%=order%>'>
    <div class="product-content">
        <img style="display: block; margin: auto;margin-top: 15px;margin-bottom: 15px;" class="first-image img-responsive"  src="uploads/<%=product.images[0]%>" title="IPhone 9 Pro - 16GB - US" alt="IPhone 9 S Pro - 16GB - US" height="145" width="157">

        <div style="height: 40px;margin: auto;" class="product-name">
            <a href="#"><%=product.tensp%></a>
        </div>
        <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
        <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;"><%=product.gia%> VND</p>
        <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
        <div style="text-align: center;" class ='interact-icon'>
            <a onclick="addToCart('<%=product.masp%>')" style="cursor: pointer;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            <%if(has_email) {%>
                <a href="/addToHeart/<%=session.makh%>/<%=product.masp%>"><i class="fa fa-heart" aria-hidden="true"></i></a>
            <%} else {%>
            <a onclick="showLogin()"><i class="fa fa-heart" aria-hidden="true"></i></a>
            <%}%>
        </div>
    </div>

    <script>
        function alertNo() {
            alert("Bạn Phải Đăng Nhập Trước Khi Yêu Thích");
        }
    </script>
</div>